RewriteEngine On

# Check if the requested file or directory does not exist.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to the index.php file and pass the requested URL as a parameter.
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
